@using System.Globalization
@inherits LayoutComponentBase
<div class="page">
    @* <div class="sidebar"> *@
    @*     <NavMenu/> *@
    @* </div> *@
    <RadzenTooltip/>   
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    [Inject] 
    private IJSRuntime Js { get; set; } = null!;
    
    [Inject] 
    private NavigationManager NavigationManager { get; set; } = null!;
    
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }
    
    private async Task ChangeCulture(CultureInfo cultureInfo)
    {
        await Js.InvokeVoidAsync("blazorCulture.set", cultureInfo.Name);
        NavigationManager.NavigateTo(NavigationManager.Uri, forceLoad: true);
    }
}